.loader
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  background #000
  color #fff
  z-index 100
  text-align center
  
  .gauge
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 80%
    background #333
    height 3px
    
    .fill
      position absolute
      top 0
      left 0
      bottom 0
      width 0%
      background #fff
